{% extends 'base.html' %} {% block content %}
<h3> About Rate That Game </h3>
<h5> Watching on-demand basketball games is challenging right? You either have to watch a game that you already know the score to or hide the scores and gamble on finding a game that’s not a complete blow-out or brick-fest. At rate-that-game.com we provide ratings for every NBA game without any spoilers so your on-demand viewing of the NBA can be as good as watching live</h5>
<div class="container">
  <img src="{{ url_for('static', filename='assets/swaggy.webp') }}" />
</div>
<h5>We are a small team working together to make the world a better place. Alright, maybe that’s an exaggeration… but we do provide spoiler-free ratings for all NBA games as and when they finished. That’s pretty cool, right?  </strong></h4>
<div class="container">
  <img src="{{ url_for('static', filename='assets/200w.webp') }}" />
</div>
{% endblock %}
