<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rate That Game</title>

    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>

  <body>
    <h1>Rate That Game</h1>

    <div id="testDIV">
      <div class="container">
        <div id="pickyDate"></div>
      </div>
    </div>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
      $(document).ready(function () {
        $("#pickyDate").datepicker({
          dateFormat: "yy-mm-dd",
          onSelect: function (dateText) {
            urlFor = '{{ url_for("search_schedule", date="fakeDate") }}'.replace(
              "fakeDate",
              dateText
            );
            location.assign(urlFor);
          },
        });
      });

      function rate_game(id) {
        url_game_search = '{{ url_for("search_games", id="fakeId") }}'.replace(
          "fakeId",
          id
        );

        $.ajax({
          type: "POST",
          url: url_game_search,
          dataType: "JSON",
          success: function (result) {
            data = result;
            var el = document.getElementById(id);
            var rating = Number(
              0.015 * (data["home"] + data["away"]) +
                0.01 * Math.abs(data["home"] - data["away"]) +
                0.06 * data["lead_changes"]
            );
            el.innerHTML = `<h5> ${rating} </h5>`;
          },
        });
      }
    </script>
  </body>
</html>
