{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col s12 m6">
    <div class="card deep-orange lighten-1">
      <div class="card-content white-text">
        <span class="card-title">Contact Us!</span>
        <p>
          Want to make a request for content you would like to see? Fill in the
          form below and contact us directly..
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="first_name" type="text" class="validate" required />
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" required  />
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate" required  />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">edit</i>
        <textarea id="message" class="materialize-textarea" rows="3" required ></textarea>
        <label for="message">Message</label>
      </div>
    </div>
    <div class="row">
      <div class="col 12">
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
