{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col s12">
    <div id="testDIV">
      <div class="container">
        <div id="pickyDate"></div>
      </div>
    </div>
  </div>
</div>
<h2>Top Ten Rated Games</h2>


  
    {% for i in topTen %}
    <div class="row">
    <div class="col s6 top-ten">
    <h5>
      {{i.away }} at {{ i.home }} on <br/> {{ i.date }} 
       
    </h5>
    </div>
    <div class="col s6">
    <img src="{{i.rating}}"/>
    </div>
    <div class="col s12 divider"></div>
    </div>
    
    {% endfor %}
  

{% endblock %}
